[submodule "azure-storage-cpplite"]
	path = azure-storage-cpplite
	url = https://github.com/Azure/azure-storage-cpplite
[submodule "azure-sdk-for-cpp"]
	path = azure-sdk-for-cpp
	url = https://github.com/Azure/azure-sdk-for-cpp
