[submodule "azure-storage-cpplite"]
	path = azure-storage-cpplite
	url = git@github.com:Azure/azure-storage-cpplite.git
[submodule "azure-sdk-for-cpp"]
	path = azure-sdk-for-cpp
	url = git@github.com:Azure/azure-sdk-for-cpp.git
